

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
header {
    text-align: center;
    
    background-color: rgba(87, 156, 135, 1.0);
    height: 10%;
    
}

.home {
    display: flex;
    flex-wrap: wrap;
    min-height: 80%;
    flex-direction: row;
    
    > .menus {
        display: flex;
        flex-basis: calc(50% - 30px);
        justify-content: center;
        flex-direction: column;
        
        
        > .titleM {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
    }
    a :hover {
        transform: scale(1.15);
        transition-duration: 0.5s;
    }
    @import "lib/styleMenus.scss";
    p {
        margin: auto;
    }
    .last {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 10%;
        background-color: rgba(87, 156, 135, 1.0);

}

footer{
    height: 10%;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(87, 156, 135, 1.0);
        .mention {
                margin-right: 10px;
            }
        .contact {
                margin-left: 10px;
            }
    }
}

@import "lib/styleMenusPages.scss";

.title {
    color: yellow;
    }

a:link {
    text-decoration: none;
}