@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lemonada:wght@600&family=Merienda+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lemonada:wght@600&family=Merienda+One&family=Pacifico&display=swap");
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

header {
  text-align: center;
  background-color: #579c87;
  height: 10%;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 70%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /**Couleur**/
}

.home > div {
  height: auto;
  width: 40%;
}

.home > .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(50% - 40px);
      flex-basis: calc(50% - 40px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  margin: 10px auto 10px;
}

.home > .menus > .titleM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home a :hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.home .menu1 {
  background-color: #fcdfdb;
  font-family: 'Pacifico', cursive;
}

.home .menu2 {
  background-color: #fff5fe;
  font-family: 'Merienda One', cursive;
}

.home .menu3 {
  background-color: #f9f9f9;
  font-family: 'Dancing Script', cursive;
}

.home .menu4 {
  background-color: #e4e4e4;
  font-family: 'Lemonada', cursive;
}

.home p {
  margin: auto;
}

.last {
  margin: auto;
  width: 20%;
  height: 10%;
  background-color: #579c87;
}

footer {
  height: 10%;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #579c87;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

footer nav .mention {
  margin-left: 20px;
}

footer nav .contact {
  margin-right: 10px;
}

/**Couleur**/
.menu1 {
  background-color: #fcdfdb;
  font-family: 'Pacifico', cursive;
}

.menu2 {
  background-color: #fff5fe;
  font-family: 'Merienda One', cursive;
}

.menu3 {
  background-color: #f9f9f9;
  font-family: 'Dancing Script', cursive;
}

.menu4 {
  background-color: #e4e4e4;
  font-family: 'Lemonada', cursive;
}

.title {
  color: yellow;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

main h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

main .content {
  margin: 10px;
}

main .content section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .content section h3 {
  text-align: center;
}

main .content section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/** Style pour les pages de s menus**/
.mention {
  margin-left: auto;
}

.contact {
  margin-right: auto;
}

/** style pour la page mention**/
/*# sourceMappingURL=style.css.map */