

html, body {
    height: 100%;
    width: 100%;
    
}
header {
    text-align: center;
    padding: 10px;
    background-color: rgba(87, 156, 135, 1.0);
    height: 10%;
    h1 {
        margin: 10px auto;
        text-align: center;
    }
    
}

main {
    
    .home {
        display: flex;
        flex-wrap: wrap;
        height: 90%;
        flex-direction: row;
        .shadow {
            box-shadow: 6px 5px 1px #a09b9b;
        }
        > .menus {
            display: flex;
            flex-basis: calc(50% - 40px);
            justify-content: center;
            flex-direction: column;
            padding: 12px;
            margin: 25px auto;
            max-width: 40%;
            
            > .titleM {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
        }
        a :hover {
            transform: scale(1.15);
            transition-duration: 0.5s;
        }
        a > div {
            height: 300px;
            max-width: 250px;
        
        }
        @import "lib/styleMenus.scss";
        p {
            margin: auto;
        }
        
    }
}

.last {
    margin: auto;
    width: 20%;
    height: 5%;
    background-color: rgba(87, 156, 135, 1.0);
    text-align: center;
    
}

footer{
    height: 10%;
    text-align: justify;
    position: sticky;
    bottom: 0;
    background-color: rgba(87, 156, 135, 1.0);
    
    nav {
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
        padding: 20px;
        
        .mention {
                margin-left: 20px;
            }
        .contact {
                margin-right: 10px;
            }
    }
}

@import "lib/styleMenus.scss";
.title {
    color: yellow;
    }

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

@import "lib/styleMenusPages.scss";
/** Style pour les pages de s menus**/

@import "lib/styleHook.scss";
/** style sticky sur footer **/
@import "lib/styleContact.scss"
