@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&family=Noto+Serif&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lemonada:wght@600&family=Merienda+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Devonshire&family=Kaushan+Script&family=Noto+Serif&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lemonada:wght@600&family=Merienda+One&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  min-width: 650px;
  /** font size for accessibility**/
  /**Couleur**/
  /** Style pour les pages de s menus**/
  /** style sticky sur footer **/
  /** style page contact.html **/
}

body #logo {
  text-align: center;
  padding: 10px;
  background-color: #579c87;
  height: 10%;
  margin: -1%;
}

body #logo h1 {
  margin: 10px auto;
  text-align: center;
}

body header {
  text-align: center;
}

body main .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto 15%;
  margin-bottom: 5rem;
  /** font size for accessibility**/
  /**Couleur**/
}

@media screen and (max-width: 660px) {
  body main .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .home > .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(50% - 40px);
      flex-basis: calc(50% - 40px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  margin: 25px auto;
  max-width: 40%;
}

@media screen and (max-width: 660px) {
  body main .home > .menus {
    max-width: 60%;
  }
}

body main .home > .menus > .titleM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body main .home > .menus > .titleM .shadow {
  -webkit-box-shadow: 1px 1px 15px #a09b9b;
          box-shadow: 1px 1px 15px #a09b9b;
}

body main .home > .menus > .titleM .carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  margin: 0 auto;
}

body main .home > .menus > .titleM .carte img {
  width: 50px;
  margin: 0 auto;
}

body main .home > .menus > .titleM h2 {
  font-size: 1.25rem;
}

body main .home a > div :hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body main .home a > div {
  height: 300px;
  max-width: 250px;
}

body main .home .menu1 {
  background-color: #fcdfdb;
  font-family: 'Devonshire', cursive;
}

body main .home .menu2 {
  background-color: #fff5fe;
  font-family: 'Merienda One', cursive;
}

body main .home .menu3 {
  background-color: #f9f9f9;
  font-family: 'Dancing Script', cursive;
}

body main .home .menu4 {
  background-color: #e4e4e4;
  font-family: 'Lemonada', cursive;
  font-style: italic;
}

body main .home .menu1m {
  font-family: 'Sriracha', cursive;
  font-size: 1rem;
}

body main .home .menu2m {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
}

body main .home .menu3m {
  font-size: 1rem;
}

body main .home .menu4m {
  font-size: 1rem;
}

body main .home .titleHeader, body main .home .mentions {
  font-family: 'Noto Serif', serif;
}

body main .home .menu1Color {
  color: #3d1319;
}

body main .home .menu2Color {
  background: #5883ed;
  background: -webkit-gradient(linear, right top, left top, color-stop(13%, rgba(88, 131, 237, 0.60548)), color-stop(30%, #8d81a0), color-stop(60%, #f2b007));
  background: linear-gradient(270deg, rgba(88, 131, 237, 0.60548) 13%, #8d81a0 30%, #f2b007 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body main .home .menu3Color {
  background: #0348f4;
  background: linear-gradient(114deg, rgba(3, 72, 244, 0.849177) 13%, #606beb 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body main .home .menu4Color {
  background: #027300;
  background: linear-gradient(114deg, #027300 13%, #44f24f 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body main .home p {
  margin: auto;
}

body main .home .last {
  margin: auto;
  min-width: 10rem;
  width: 20%;
  border-radius: 19%;
  background-color: #579c87;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: null) {
  body main .home .last {
    width: 25%;
  }
}

body main .home .last > div {
  background-color: yellow;
  border: 2px solid yellow;
  border-radius: 50%;
  margin: auto 2px;
  display: inline-block;
  -webkit-animation: 1.5s bounce infinite ease-in-out;
          animation: 1.5s bounce infinite ease-in-out;
  width: 0.5rem;
  height: 0.5rem;
}

body main .home .last .dot {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

body main .home .last .dot1 {
  -webkit-animation-delay: -0.30s;
          animation-delay: -0.30s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body .footer {
  text-align: justify;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #579c87;
}

body .footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

body .footer nav .mention {
  margin-left: 20px;
}

body .footer nav .mention:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .footer nav .contact {
  margin-right: 10px;
}

body .footer nav .contact:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

body .menu1 {
  background-color: #fcdfdb;
  font-family: 'Devonshire', cursive;
}

body .menu2 {
  background-color: #fff5fe;
  font-family: 'Merienda One', cursive;
}

body .menu3 {
  background-color: #f9f9f9;
  font-family: 'Dancing Script', cursive;
}

body .menu4 {
  background-color: #e4e4e4;
  font-family: 'Lemonada', cursive;
  font-style: italic;
}

body .menu1m {
  font-family: 'Sriracha', cursive;
  font-size: 1rem;
}

body .menu2m {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
}

body .menu3m {
  font-size: 1rem;
}

body .menu4m {
  font-size: 1rem;
}

body .titleHeader, body .mentions {
  font-family: 'Noto Serif', serif;
}

body .menu1Color {
  color: #3d1319;
}

body .menu2Color {
  background: #5883ed;
  background: -webkit-gradient(linear, right top, left top, color-stop(13%, rgba(88, 131, 237, 0.60548)), color-stop(30%, #8d81a0), color-stop(60%, #f2b007));
  background: linear-gradient(270deg, rgba(88, 131, 237, 0.60548) 13%, #8d81a0 30%, #f2b007 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body .menu3Color {
  background: #0348f4;
  background: linear-gradient(114deg, rgba(3, 72, 244, 0.849177) 13%, #606beb 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body .menu4Color {
  background: #027300;
  background: linear-gradient(114deg, #027300 13%, #44f24f 60%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

body .title {
  color: yellow;
}

body a:link {
  text-decoration: none;
}

body a:visited {
  text-decoration: none;
}

body .return a :visited {
  color: yellow;
}

body .return a :link {
  color: yellow;
}

body .mainMenus {
  margin: auto 10%;
}

body .mainMenus h2 {
  text-align: center;
}

body .mainMenus .shadowPage {
  -webkit-box-shadow: 1px 1px 15px grey;
          box-shadow: 1px 1px 15px grey;
}

body .mainMenus .content {
  max-width: 650px;
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 5rem;
}

body .mainMenus .content header {
  margin: 0;
}

body .mainMenus .content h3, body .mainMenus .content h4, body .mainMenus .content img {
  text-align: center;
}

body .mainMenus .content section .stepName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0.313rem;
  margin-bottom: 0.625rem;
}

body .mainMenus .content section .stepName img {
  min-width: auto;
}

body .mainMenus .content section .stepName h4 {
  text-align: center;
  margin: auto;
}

body .mainMenus .content section .stepName span.section1Color {
  color: #c67412;
}

body .mainMenus .content section .stepName span.section2Color {
  color: #a56799;
}

body .mainMenus .content section .stepName span.section3Color {
  color: #6e4ccc;
}

body .mainMenus .content section .stepName .subline {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #000000 0%, #000000 4px, transparent 5px);
  background-size: 0 100%;
}

body .mainMenus .content section .blocPlat {
  margin: auto 3.125;
}

body .mainMenus .content section .blocPlat .plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.25rem;
}

body .mainMenus .content section .blocPlat .plats .nomPlat {
  margin-left: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.25rem;
}

body .mainMenus .content footer {
  text-align: center;
}

body .mainMenus .content footer h4 {
  margin: 0;
}

body .stickyFooter {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #579c87;
}

body .stickyHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #579c87;
}

body .mentions > article {
  text-align: justify;
}

body .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 660px) {
  body .contactContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

body .titleContact {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */