$breakpoints: (
    mobile: 660px,
);

body {
    min-width: 650px;
    #logo {
        text-align: center;
        padding: 10px;
        background-color: rgba(87, 156, 135, 1.0);
        height: 10%;
        margin: -1%;
        h1 {
            margin: 10px auto;
            text-align: center;
        }
        
    }
    header {
        text-align: center;
    }

    main {
        
        
        .home {
            display: flex;
            flex-wrap: wrap;
            height: 90%;
            flex-direction: row;
            margin: auto 15%;
            @media screen and (max-width: map-get($breakpoints, mobile)) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            }
        
            > .menus {
                display: flex;
                flex-basis: calc(50% - 40px);
                justify-content: center;
                flex-direction: column;
                padding: 12px;
                margin: 25px auto;
                max-width: 40%;
                @media screen and (max-width: map-get($breakpoints, mobile)) {
                    max-width: 60%;
                }
                
                
                > .titleM {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    .shadow {
                        box-shadow: 1px 1px 15px #a09b9b;
                    }
                    .carte {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 400px;
                        margin: 0 auto;
                        img {
                            width: 50px;
                            margin: 0 auto;
                        }
                    }
                    h2 {
                        font-size: 1.25rem;
                    }
                }
            }
            a :hover {
                transform: scale(1.15);
                transition-duration: 0.5s;
            }
            a > div {
                height: 300px;
                max-width: 250px;
            
            }
            @import "lib/styleMenus.scss";
            p {
                margin: auto;
            }
            
        }
    }

    .last {
        margin: auto;
        width: 20%;
        border-radius: %;
        background-color: rgba(87, 156, 135, 1.0);
        text-align: center;
        display: flex;
        justify-content: center;
        @media screen and (max-width: map-get($breakpoints, tablet)) {
            width: 25%;
        }
        > div {
            background-color: yellow;
            border: 2px solid yellow;
            border-radius: 50%;
            margin: auto 2px;
            display: inline-block;
            animation: 1.5s bounce infinite ease-in-out;
            width: 0.5rem;
            height: 0.5rem;
            
        }
        
        .dot {
            animation-delay: -0.45s;
        }
        .dot1 {
            animation-delay: -0.30s;
        }
        
        
        @keyframes bounce{
            0%{
                transform: scale(0);
            }
            40%{
                transform: scale(1);
            }
            
        }
    }

    .footer{
        
        text-align: justify;
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: rgba(87, 156, 135, 1.0);
        
        nav {
            display: flex;
            flex-wrap: wrap;
            
            justify-content: space-between;
            padding: 20px;
            
            .mention {
                    margin-left: 20px;
                }
            .mention:hover {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
            .contact {
                    margin-right: 10px;
                }
            .contact:hover {
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
        }
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }

    @import "lib/styleMenus.scss";
    .title {
        color: yellow;
    }

    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }

    @import "lib/styleMenusPages.scss";
    /** Style pour les pages de s menus**/

    @import "lib/styleMentionHook.scss";
    /** style sticky sur footer **/
    @import "lib/styleContact.scss";
    /** style page contact.html **/
}




